header {
    text-align: center;
    margin-bottom: 10px;
    font-size: 35px
}

:root {
    font-size: 25px;
}

.letterButton {
    padding: 2px;
    border: 2px solid#333;
    flex-grow:1;
    text-align:center
}

.bigButton {
    border: 2px solid#333;
    padding: 2px;
    flex-grow: 2;
    text-align: center
}

.correctGuess {
    background-color: limegreen;
}
.incorrectGuess {
    background-color:grey
}
.semicorrectGuess {
    background-color:yellow
}

.keyboardRow {
    display: flex;
    justify-content: space-evenly
}

.gameboardGuessRow {
    display: flex;
    justify-content: space-evenly
}

.gameboardGuessLetter {
    padding: 2px;
    border: 2px solid#333;
    flex-grow:1;
    text-align:center;
    height:30px
}

#keyboard {
    margin-top: 20px
}